html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.B_Wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .B_Container {
        width: 70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @media screen and (max-width: 450px) {
            justify-content: center;
            width: 95%;
        }
        .B_Nav {
            width: 100%;
        }
        .B_Content {
            margin-top: 2.5%;
            margin-bottom: 2.5%;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-end;
            // position: absolute;
            @media screen and (max-width: 450px) {
                justify-content: center;
                align-items: center;
                width: 95%;
            }
            .Side_Bar {
                width: 20%;
                min-width: 12.5rem;
                height: 50%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                // position: absolute;
                @media screen and (max-width: 450px) {
                    display: none;
                }

                .Pannel {
                    height: 50rem;
                    width: 75%;
                    min-width: 10rem;
                    background-color: #cad2c5;
                    border-radius: 0 1rem 1rem 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    // position:fixed;
                    a {
                        font-size: 1.5rem;
                        line-height: 300%;
                        font-family: "Baumans", sans-serif;
                        &:hover {
                            color: pink;
                        }
                    }
                }
            }
            .Feed_Area {
                width: 80%;
                height: 85vh;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                overflow-y: scroll;
                @media screen and (max-width: 450px) {
                    width: 100%;
                    align-items: flex-start;
                }
                .Drawers {
                    height: 100%;
                    width: 97.5%;
                    margin: 1%;
                    display: flex;
                    flex-direction: column;

                    h3 {
                        font-size: 2rem;
                        margin-left: 1rem;
                        line-height: 100%;
                        font-family: "Baumans", sans-serif;
                        margin-bottom: 2.5rem;
                    }
                    .Drawer {
                        width: 100%;
                        min-height: 22.5rem;
                        display: flex;
                        flex-direction: row;
                        overflow-x: scroll;
                        overflow-y: hidden;
                    }
                    .Drawer_search {
                        width: 100%;
                        min-height: 30%;
                        height: 90%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        overflow: scroll;
                        overflow-x: hidden;
                    }
                }
            }
        }
    }
}
