.Wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Container {
        width: 70%;
        height: 100rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 2rem;
        .LogoCon {
            width: 50%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            border-radius: 2rem;
            .welcome{
                font-size: 6rem;
                color: $textColorB;
                text-align: center;
                height: 6rem;
            }
            .intro{
                font-size: 1.5rem;
                color: $textColorL;
                
            }
    
        }
        .CardCon {
            width: 50%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: #84a98c;
            margin: 10%;
            border-radius: 1.5rem;

            .title {
                font-size: 3rem;
                color: $textColorL;
                margin-top: 10%;
            }

            .ButtonCon {
                width: 70%;
                height: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: #84a98c;
                border-radius: 1rem;
            }
        }
    }
    }
