html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.sB_Wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .Container {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @media screen and (max-width: 600px) {
            flex-wrap: wrap;
            justify-content: center;
            height: 100%;
        }
        .Nav {
            height: 100%;
            width: 100%;
            // position: absolute;
        }
        .Content {
            margin-top: 5rem;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;

            .Side_Bar {
                margin-top: 5rem;
                width: 25%;
                min-width: 20rem;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                
            }
           .bookComment{
               padding-top: 20rem;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
                width: 70%;
                height:85vh;
                overflow:scroll;
                overflow-x:hidden;
           }
        }
    }
}
