
//text size
.text_fontSize_5 {
    font-size: .5rem;
};
.text_fontSize1 {
    font-size: 1rem;
};
.text_fontSize2 {
    font-size: 2rem;
};
.text_fontSize3 {
    font-size: 3rem;
}
.text_fontSize4 {
    font-size: 4rem;
}
.text_fontSize5 {
    font-size: 5rem;
}
.text_fontSize6 {
    font-size: 6rem;
}
.text_fontSize8 {
    font-size: 8rem;
}
.text_fontSize10 {
    font-size: 10rem;
}
.text_fontSize15 {
    font-size: 15rem;
}
.text_fontSize20 {
    font-size: 20rem;
}

//color
.justify-content-center{
    justify-content:center
}
.justify-content-start{
    justify-content:flex-start
}
.align-items-start{
    align-items:  flex-start; 
}