.bookCard_Con {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:1rem;
    img {
        width: 10rem;
        height: 10rem;
        background-color: pink;
        border-radius: 50%;
        @media screen and (max-width: 1500px) {
            width: 7.5rem;
            height: 7.5rem;
            
        }
    }
    p{
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
        color:#CAD2C5;
        text-align: center;
    }
}
