.bookCom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 5rem;
    border-radius: 1rem;
    height: 50rem;
    img {
        width: 17.5rem;
        height: 17.5rem;
        object-fit: cover;
        border-radius: 50%;
        
        @media screen and (max-width: 1400px) {
            width: 15rem;
        height: 15rem;
        }
    }
    .BookTitle {
        font-size: 1.5rem;
        font-weight: bold;
        @media screen and (max-width: 1400px) {
            font-size: 1rem;
        }
    }
    .rating{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .info {
        font-size: 1rem;
        line-height: 80%;
       text-align:center;
    }
    .heart{
        &:hover{
            opacity: .5;
        }
    }
    .edit{
        &:hover{
            opacity: .5;
        }
    }
}
