.inputCon{
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items:flex-start ;
    width: 80%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    p{
        font-size: 1.5rem;
        margin-bottom: .1rem;
        color:$textColorL;
    }
    .input{
        width:100%;
        border-radius:.5rem;
    }
}
