.navBar {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2F3E46;
    
   

    .navLogoCon {
        width: 20%;

        &:hover{
            opacity: .5;
        }
        @media screen and (max-width: 450px) {
            display: none;
        }


        .navTextCon {
            width: 100%;
            justify-content: center;
            align-items: center;
            font-size: 2.5rem;
            text-align: center;
           
            color: $textColorL;
        }
    }
    .navInputCon {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: center;
        @media screen and (max-width: 450px) {
            width: 100%;
            justify-content: flex-end;
        }
        
        .input{
            width: 85%;
            background-color: $textColorL;
            border-radius: .25rem;
           border-style: none;
           margin-right:1%;
           @media screen and (max-width: 450px) {
            width: 90%;
            margin-right:2.5%
        }
        }
        button{
            width:2rem
        }
        .select{
            width:6.5rem
        }
    }
    .navUsers{
        width: 15%;
        margin-left:5%;
        font-size: 1.5rem;
        color: $textColorL;
        font-family: 'Baumans';
        @media screen and (max-width: 450px) {
            display: none;
        }
    }
    .iconCon{
        display: flex;
        justify-content: space-around;
        width: 10%;
        color: $textColorL;
        @media screen and (max-width: 450px) {
          
            display: none;
        }
        .user{
            &:hover{
                opacity: .5;
            }
        }
        .setting{
            &:hover{
                opacity: .5;
            }
        }
        
    }
    .iconCon450{
        display: flex;
        justify-content: space-around;
        display: none;
       
        @media screen and (max-width: 450px) {
            width: 25%;
            display: flex;
           
        }
    }
}
