.userCom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // background-color: pink;
    width: 100%;
    padding: 5rem;
    border-radius: 1rem;
    height: 85%;
    img {
        width: 17.5rem;
        height: 17.5rem;
        object-fit: cover;
        border-radius: 50%;
        @media screen and (max-width: 1400px) {
            width: 12.5rem;
        height: 12.5rem;
        }
    }
    .name {
        
        font-size: 2rem;
        font-weight: bold;
        @media screen and (max-width: 1400px) {
            font-size: 1.5rem;
        }
    }
    .rating{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .info {
        font-size: 1rem;
        line-height: 80%;
       text-align:center;
    }
}
